# Visual Studio Code settings
.vscode/

# Cache files
.cache/
**/__pycache__

# Eggs
*.egg*

# Env variables
.env

# Venv (should named aoi_venv)
aoi_venv/

# Miscellaneous testing
test.*

# Opencode tmp workdir
*tmp/

# Opencode files
.tmp/opencode.txt
