# Use python 3.10 for this project
dotenv # Environment variable management
gym # Reinforcement learning library
numpy # Numerical operations
pandas # Data manipulation and analysis
litellm # Lightweight LLM library
joblib # Running tasks in parallel
matplotlib # Plotting library
seaborn # Statistical data visualization
ipykernel